[Desktop Entry]
Type=Application
Name=WineProtonManager-v1.2.0
Exec=WineProtonManager
Icon=WineProtonManager
Categories=Utility;
Comment=Herramienta GUI para gestionar entornos Wine/Proton
